@model NhatAnhStore.Models.Hang
@{
    ViewData["Title"] = "Thêm mới hãng";
}
<br />
<h2 class="text-info">Thêm mới hãng</h2>
<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TenHang"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="TenHang"   minlength="2" maxlength="20" id="tenhang" required  class="form-control" placeholder="Nhập tên hãng muốn thêm"/>
            </div>
            <span asp-validation-for="TenHang" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TrangThai"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="TrangThai"/>
            </div>

        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Thêm hãng" />
            <a asp-action="Index" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i>Trở về</a>
        </div>
    </div>
</form>
