
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

    <div class="content">
    <br />
    <h2>Bản đồ</h2>
    <div class="map" style="width:100%;height:auto;">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8894.559881651388!2d105.98286245284747!3d20.39518311729855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135d9cc41b899ed%3A0x1e8dab2d713f0e8!2zQW4gTmjDom4sIFnDqm4gVMOibiwgw50gWcOqbiwgTmFtIMSQ4buLbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1627574680058!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </div>


